<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persistence.ProductManageMapper">

	<select id="getProductInfoWithLoginUserID" resultType="com.example.domain.ProductInfo">
		SELECT
			*
		FROM
			product
		WHERE
			user_id = #{userID}
	</select>

	<select id="getProductInfoWithoutLoginUserID" resultType="com.example.domain.ProductInfo">
		SELECT
			*
		FROM
			product
		WHERE
			user_id != #{userID}
	</select>

	<select id="countReserve" resultType="int">
		SELECT
			COUNT(*)
		FROM
			reserve
		WHERE
			product_id = #{id}
	</select>

	<insert id="registerProduct">
		INSERT INTO
			product (user_id, name, stock, remarks)
		VALUES
			(#{userID}, #{name}, #{stock}, #{remarks})
	</insert>

	<select id="getProductInfoWithProductID" resultType="com.example.domain.ProductInfo">
		SELECT
			*
		FROM
			product
		WHERE
			id = #{id}
	</select>

	<update id="updateProductInfo">
		UPDATE
			product
		SET
			name = #{name},
			stock = #{stock},
			remarks = #{remarks}
		WHERE
			id = #{id}
	</update>

	<select id="getReserveProductList" resultType="com.example.domain.ProductInfo">
		SELECT
			product.id, product.name, product.remarks
		FROM
			reserve
		LEFT JOIN
			product
		ON
			reserve.product_id = product.id
		WHERE
			reserve.user_id = #{userID}
	</select>

	<select id="checkReserve" resultType="int">
		SELECT
			COUNT(*)
		FROM
			reserve
		WHERE
			user_id = #{userID}
		AND
			product_id = #{productID}
	</select>

	<insert id="reserveProduct">
		INSERT INTO
			reserve (user_id, product_id)
		VALUES
			(#{userID}, #{productID})
	</insert>

</mapper>