<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.persistence.UserManageMapper">
    <select id="loginCheck" resultType="int">
    	SELECT
    		COUNT(*)
    	FROM
    		user
    	WHERE
    		login_id = #{loginID}
    	AND
    		password = #{password}
    </select>

    <select id="getLoginUserID" resultType="int">
    	SELECT
    		id
    	FROM
    		user
    	WHERE
    		login_id = #{loginID}
    	AND
    		password = #{password}
    </select>

    <select id="signupCheckLoginID" resultType="int">
    	SELECT
    		COUNT(*)
    	FROM
    		user
    	WHERE
    		login_id = #{loginID}
    </select>

	<insert id="signup">
		INSERT INTO
			user (login_id, password)
		VALUES
			(#{loginID}, #{password})
	</insert>

	<select id="getLoginUserInfo" resultType="com.example.domain.UserInfo">
		SELECT
			login_id, password
		FROM
			user
		WHERE
			id = #{id}
	</select>

	<select id="checkUserLoginIDWithoutLoginUser" resultType="int">
		SELECT
			COUNT(*)
		FROM
			user
		WHERE
			id != #{id}
		AND
			login_id = #{loginID}
	</select>

	<update id="updateUserInfo">
		UPDATE
			user
		SET
			login_id = #{userInfo.loginID},
			password = #{userInfo.password}
		WHERE
			id = #{id}
		</update>
</mapper>